* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.ttf') format('ttf'), 
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.ttf') format('ttf'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

.flex-container {
  /*width: 1200px;*/
  /*max-width: 1600px;*/
  /*min-width: 641px;*/
  font-size: 16px;

}



/*div {
  border: 2px solid #7f00ff;
}*/

.heider {

  display: flex;
  flex-direction: column;
  background-color: #0a0c18;
  background-image: url("../images/desktop/header-banner-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  /*background-size: 100%;*/
 /* width: 100%;*/
  /*height: 27vw;*/
  height: calc(392px + 58 * (100vw / 1660));
  /*height: 450px;*/
}


.heiders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 5.42vw;
}


.logo {
  display: flex;
  background-image: url("../images/desktop/noemi-logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  justify-content: flex-end;
  width: 20%;
  height: 40px;
  
  /*margin-left: 150px*/;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  width: 40%;

}

.main-menu-link {
  font-style: normal;
  display: flex; 
  justify-content: flex-start;
  width: 90%;
  
  
}

.menu-link {
  display: flex;
  font-family: OpenSans-Regular; /*данный шрифт не устонавливается*/
  font-size: 0.78vw;
  color: #fff;
  margin-right: 2.11vw; 
}
  


.title {
  /*border: 1px solid #7f00ff;*/
  display: flex;
  font-family: OpenSans-Bold;
  /*font-size: 2.71vw;*/
  font-size: calc(40px + 5 * (100vw / 1660));
  line-height: 1.5;
  justify-content: center;
  color: #fff;
  text-align: center;
  width: calc(650px + 40 * (100vw / 1660));
  /*width: 650px;*/
  /*width: 690px;*/
  margin-top: 6.5vw;
  margin-bottom: 8.5vw;
}



.trend {
 /* border: 1px solid #7f00ff;*/
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold;
  font-size: 1.4vw;
  align-items: center;
  justify-content: center;
  height: 7.23vw;
  width: 100%;
  margin-top: 1.7vw;
  
}

.shape {
  display: flex;
  justify-content: center;
  padding-top: 0.18vw; 
  width: 3.98vw;
}


.trend-selection {
  display: flex;
  justify-content: center;
  height: 19.28vw;
  width: 100%;
  margin: auto;
  
}


.trend-sections {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25vw;
}



.trend-sections:nth-child(-n+3) {
  margin-right: 0.24vw;
}


.frame {
  display: flex;
  flex-direction: column;
  border: 0.18vw solid #8f835c;
  margin-bottom: 0.9vw;
  font-family: OpenSans-Bold;
  color: #b59f5b;
  margin-right: 1.45vw;
  margin-left: 1.45vw;
}

.sections-header-frame {
  display: flex;
  width: 70%;
  margin-left: 2.05vw;
  margin-top: 2.41vw; 
}

.sections-header:nth-child(1) {
  margin-right: 0.9vw; 
}


.sections-header {
  font-size: 0.84vw;
  color: #b59f5b;
}

.sections-article {
  display: flex;
  margin-top: 0.9vw;
  margin-right: 2.05vw;
  margin-bottom: 2.23vw;
  margin-left: 2.05vw;
  font-size: 1.2vw;
  color: #ffffff;
}

.garden {
  background-color: #666666;
  background-image: url("../images/desktop/garden-desktop.png")
 
}


.food {
  background-color: #666666;
  background-image: url("../images/desktop/cheese-desktop.png")
}

.travel {
  background-color: #666666;
  background-image: url("../images/desktop/hike-desktop.png")
}

.health {
  background-color: #666666;
  background-image: url("../desktop/vitamin-desktop.png")
}



.titlpost {
  display: flex;
  height: 64px;
}

.posts {
  display: flex;
  height: 1714px;
}

.otstup3 {
  display: flex;
  height: 124px;
}

.art {
  display: flex;
  height: 439px;
}

.otstup4 {
  display: flex;
  height: 65px;
}


.futer {
  display: flex;
  height: 213px;

}


/* Ниже вставка с style5.css*/



/* Ниже вставка с style5.css*/

/*напоминалка про hr*/
hr {
  width: 66px; 
  border: 1px solid #b59f5b;
  /*color: #b59f5b;*/ 
}


