* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



@font-face {
  font-family: 'OpenSans-Bold';
  font-style: normal;
  font-weight: normal;
  src: local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.ttf') format('ttf'), 
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.ttf') format('ttf'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2');
}

.flex-container {
  /*width: 1200px;*/
  /*max-width: 1600px;*/
  /*min-width: 641px;*/
  font-size: 16px;

}



/*div {
  border: 2px solid #7f00ff;
}*/

.heider {

  display: flex;
  flex-direction: column;
  background-color: #0a0c18;
  background-image: url("../images/desktop/header-banner-desktop.png");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  /*background-size: 100%;*/
 /* width: 100%;*/
  /*height: 27vw;*/
  height: calc(392px + 58 * (100vw / 1660));
  /*max-width: 1660px;*/
  max-height: 448px;
}


.heiders {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  height: 5.42vw;
}


.logo {
  display: flex;
  background-image: url("../images/desktop/noemi-logo.svg");
  background-repeat: no-repeat;
  background-position: right;
  justify-content: flex-end;
  width: 20%;
  height: 40px;
  
  /*margin-left: 150px*/;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  width: 40%;

}

.main-menu-link {
  font-style: normal;
  display: flex; 
  justify-content: flex-start;
  width: 90%;
  
  
}

.menu-link {
  display: flex;
  font-family: OpenSans-Regular; /*данный шрифт не устонавливается*/
  font-size: 0.78vw;
  color: #fff;
  margin-right: 2.11vw; 
}
  


.title {
  /*border: 1px solid #7f00ff;*/
  display: flex;
  font-family: OpenSans-Bold;
  /*font-size: 2.71vw;*/
  font-size: calc(40px + 5 * (100vw / 1660));
  line-height: 1.5;
  justify-content: center;
  color: #fff;
  text-align: center;
  width: calc(650px + 40 * (100vw / 1660));
  /*width: 650px;*/
  /*width: 690px;*/
  margin-top: 6.5vw;
  margin-bottom: 8.5vw;
}



.trend {
 /* border: 1px solid #7f00ff;*/
  display: flex;
  flex-direction: column;
  font-family: OpenSans-Bold;
  font-size: 1.4vw;
  align-items: center;
  justify-content: center;
  height: 7.23vw;
  width: 100%;
  margin-top: 1.7vw;
  
}

.shape {
  display: flex;
  justify-content: center;
  padding-top: 0.18vw; 
  width: 3.98vw;
}


.trend-selection {
  display: flex;
  justify-content: center;
  height: 19.28vw;
  width: 100%;
  margin: auto;
  
}


.trend-sections {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 25vw;
}



.trend-sections:nth-child(-n+3) {
  margin-right: 0.24vw;
}


.frame {
  display: flex;
  flex-direction: column;
  border: 0.18vw solid #8f835c;
  margin-bottom: 0.9vw;
  font-family: OpenSans-Bold;
  color: #b59f5b;
  margin-right: 1.45vw;
  margin-left: 1.45vw;
}

.sections-header-frame {
  display: flex;
  width: 70%;
  margin-left: 2.05vw;
  margin-top: 2.41vw; 
}

.sections-header:nth-child(1) {
  margin-right: 0.9vw; 
}


.sections-header {
  font-size: 0.84vw;
  color: #b59f5b;
}

.sections-article {
  display: flex;
  margin-top: 0.9vw;
  margin-right: 2.05vw;
  margin-bottom: 2.23vw;
  margin-left: 2.05vw;
  font-size: 1.2vw;
  color: #ffffff;
}

.garden {
  background-color: #666666;
  background-image: url("../images/desktop/garden-desktop.png")
 
}


.food {
  background-color: #666666;
  background-image: url("../images/desktop/cheese-desktop.png")
}

.travel {
  background-color: #666666;
  background-image: url("../images/desktop/hike-desktop.png")
}

.health {
  background-color: #666666;
  background-image: url("../images/desktop/vitamin-desktop.png")
}



.titlpost {
  display: flex;
  height: 64px;
}

.posts {
  display: flex;
  height: 1714px;
}

.otstup3 {
  display: flex;
  height: 124px;
}

.art {
  display: flex;
  height: 439px;
}

.otstup4 {
  display: flex;
  height: 65px;
}


.futer {
  display: flex;
  height: 213px;

}


/* Ниже вставка с style5.css*/



/* Ниже вставка с style5.css*/

/*напоминалка про hr*/
hr {
  width: 66px; 
  border: 1px solid #b59f5b;
  /*color: #b59f5b;*/ 
}

h2 {
  font-family: 'OpenSans-Bold';
  font-weight: bold;
  color: #000;
  font-size: calc(17px + 3 * (100vw / 1200));
  margin-top: 0.01vw;
  margin-bottom: 35px;
  
}

h3 {
  font-family: 'OpenSans-Bold';
  font-weight: bold;
  color: #000;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 15px;
}



time {
  font-family: 'OpenSans-Regular';
  font-style: normal;
  font-weight: lighter;
  color: #cccccc;
  font-size: 12px;
}



p {
  font-family: 'OpenSans-Regular';
  font-size: 0.9vw;
  /*margin-top: 56px;*/
  /*Letter-spacing: 1.5px;*/

}


.main-sections-content {
  display: flex;
  width: 1200px;
  /*align-items: center;
  justify-content: center;
  text-align: center;*/
  margin: auto;

}


.content {
  display: flex;
  flex-direction: column; 
  width: 915px; 
}

.sunrise {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #7f00ff;*/

}


.big-photo {
  width: 380px;
  margin-left: 15px;
  margin-bottom: 60px;
  /*border: 1px solid #7f00ff;*/
}


.yoga {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #7f00ff;*/  
}


.festival {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #7f00ff;*/  
}


.foods {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #7f00ff;*/  
}


.prints {
  display: flex;
  flex-direction: row;
  /*border: 1px solid #7f00ff;*/  
}


.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  width: 370px;
  /*border: 1px solid #7f00ff;*/
}


.section-topic {
  font-family: 'OpenSans-Bold';
  font-weight: bold;
  color: #b59f5b;
  font-size: 0.84vw;
  margin-top: 0.12vw;
  margin-right: 10px;
  margin-bottom: 0.9vw;
} 


.section {
  margin-right: 18px;
}
 

/*.topic-content {
  display: flex;
  align-items: flex-start;  
}*/


.author-and-time {
  display: flex;
  flex-direction: row;
  align-items: baseline;  
}


.autor {
  font-family: 'OpenSans-Bold';
  font-size: 12px;
  margin-left: 0.84vw;  
}


.additionally {
  width: 286px;
}


.additionally-post {
  display: flex; 
  flex-direction: row;
}

.additionally-description {
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  margin-top: 10px;
}

.additionally-photo {
  margin-bottom: 24px;
}

.shapes {
  margin: auto;
}

hr {
  width: 66px; 
  border: 1px solid #b59f5b;
  margin-top: 5px;
  /*color: #b59f5b;*/ 
}

/** {box-sizing: border-box;}
body{margin: 0;}
div {padding: 30px 0}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}*/

* {box-sizing: border-box;}
form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input, button {
  outline: none;
  background: transparent;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 15px;
  border: 3px solid #F9F0DA;
}
button {
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
input:focus {
  border-color: #311c24;
}


.grouping {
  width: 286px;
  margin: auto;
}

.groupings {
  width: 286px;
  margin: auto;
}



